{% extends "base.html" %}

{% block main %}
<h1>Contact Form</h1>
<hr>
<p>Fill in this form to contact the website owners.</p>
<form method="post" action="{{ url_for('contact') }}" novalidate>
    {{ form.csrf_token }}
    <div class="Mydiv">
    <p>{{ form.name.label }}
        <label class="required">*Required</label>
    </p>
    <p>Please enter your full name.</p>
    {{ form.name(size=20) }}
    </div>
    <div class="Mydiv">
    <p>{{ form.email.label }}
        <label class="required">*Required</label>
    </p>
    <p>Please enter your e-mail address.</p>
    {{ form.email(size=20) }}
    </div>
    <div class="Mydiv"> 
    <p>{{ form.subject.label }}
        <label class="required">*Required</label>
    </p>
    <p>Please enter the subject for your message.</p>
    {{ form.subject(size=20) }}
    </div>
    <div class="Mydiv"> 
    <p>{{ form.message.label }}
        <label class="required">*Required</label>
    </p>
    <p>Please enter the message you would like to send.</p>
    {{ form.message(size=20) }}
    </div>
    <div class="btn">
    <button type="submit">Send Message</button>
    </div>
   </form>
{% endblock %}
